{% extends 'base.html' %} {% block content %} {% load static %}

<div class="item about-full">
  <div class="full-container">
    <div class="">
     <h1>{{new.title}}</h1>
    
    <div>{{new.content.html|safe}}</div>
    </div>
    <div class="about-full-side-container">
      {% if new.image %}
      <div id="about-full-first-image" class="bg-img-cover"  style="background-image: url(&quot;{{new.image.url}}&quot;);"></div>
      <div id="about-full-second-image" class="bg-img-cover"></div>
      {%endif%}
    </div>
  </div>
</div>
{% endblock content %}
