{% extends 'base.html' %} {% block content %} {% load static %}

<div class="item training-list">
  <div>
    <h1>Noticias</h1>
    <div id="news-items-container" class="news-items-container">

    {% for new in news%}
      <a class="new-item no-style-url" href="{% url 'new-detail' new.url %}">
      {% if new.image %}
        <img src={{new.image.url}} />
      {% endif %}
        <div class="new-text-container">
          <h1>{{new.title}}</h1>
          <p>
            {{new.description | default_if_none:""}}
          </p>
        </div>
      </a>
      {% endfor %}
    </div>
    {% if news%}
      <div id="pages-nav-id" class="pages-nav">
            {% for number in numbers%}
              {% if camara %}
                <a href="?page={{number}}&camara={{camara}}" class="no-style-url"><div class="page-btn scale-hover page-selected">{{number}}</div></a>
              {% else %}
                <a href="?page={{number}}" class="no-style-url"><div class="page-btn scale-hover">{{number}}</div></a>
              {% endif %}
            {%endfor%}
          </div>
      
    {%endif%}
    </div>
</div>

{% endblock content %}
