{% extends 'base.html' %} {% block content %} {% load static %}

<div class="item training-full">
    <div class="full-container">
        <div class="full-text-container">
            <h1>{{ training.title }}</h1>
            {{ training.content.html|safe}}
        </div>
        <div class="training-full-side-container">
            <div id="training-image" style="background-image: url(&quot;{{training.image.url}}&quot;);"
                class="bg-img-cover"></div>
            <div class="training-full-blue-info">
                <div class="training-dates-container">
                    <div>
                        <h2>Fechas</h2>
                        <p>
                            {% for date in training.dates.all%}
                            {{date.created_date|date:"d/m/Y"}} - {{date.hours}}hs</br>
                            {% endfor %}</p>
                    </div>
                    <div class="training-until-date">
                        <p>Inscripcion hasta el {{training.due_date}}</p>
                    </div>
                </div>
                <div class="training-blue-info-item">
                    <h2>Duración</h2>
                    <p>{{training.duration | default_if_none:""}}</p>
                </div>
                <div class="training-blue-info-item">
                    <h2>Modalidad</h2>
                    <p>{{training.mode.description | default_if_none:""}}</p>
                </div>
                <div class="training-blue-info-item">
                    <h2>Organiza</h2>
                    <p>{{training.saloon}}</p>
                </div>
                <div class="training-blue-info-item">
                    <h2>Instructor a cargo</h2>
                    <p>{{training.in_charge | default_if_none:""}}</p>
                </div>
            </div>
            <div class="primary-btn-container register-btn-container">
                <button onclick="openInscriptForm()" class="primary-btn btn-lg btn-full-width">Inscribirme</button>
            </div>
        </div>
    </div>
</div>

<!-- <div id="inscription-form-bg" class="full-bleed modal-bg container" style="display: none;" onclick="openInscriptForm()"> -->
<dialog id="inscription-form" class="" onclick="event.target==this && openInscriptForm(true)">
    <h1>Formulario de inscripción</h1>
    <form  id="incription-form-html" class="" action="/capacitaciones/process-inscription" method="post">
        <div class="incription-form-container" >
            {% csrf_token %}
            {% for field in form %}
            <div class="form-item">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
        </div>
        <input style="cursor:pointer" class="primary-btn-container primary-btn btn-lg inscript-btn" value="Inscribirme" id="submitButton">
        <span id="loader" class="loader disable"></span>
    </form>
</dialog>
<!-- </div> -->

<dialog class="inscription-greeting">
    <h1>Te inscribiste correctamente al curso ! Muchas gracias</h1>
</dialog>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        function handleSubmit(event) {
            event.preventDefault();
            const loader = document.getElementById("loader");
            const btn = document.getElementById("submitButton");
            const form = document.getElementById("incription-form-html");
            const formData = new FormData(form);
            loader.classList.remove("disable");
            btn.classList.add("disable");

            fetch(form.action, {
                method: "POST",
                body: formData,
            })
                .then((response) => {
                    if (response.ok) {
                        document.querySelector(".inscription-greeting").showModal();
                        loader.classList.add("disable");
                        btn.classList.remove("disable");
                        setTimeout(() => {
                            document.querySelector(".inscription-greeting").close();
                            openInscriptForm(true);
                        }, 4000);
                    }
                });
        }
        document.getElementById("submitButton").addEventListener("click", handleSubmit);
    });
    function openInscriptForm(clickBackdrop) {
        const isOpenClass = () => {
            const open = () => {
                body.classList.add("disable-scroll");
                modalForm.showModal()
                modalForm.classList.add("modal-form");
                // modalBackground.style.display = "grid";
            };

            const close = () => {
                modalForm.classList.remove("modal-form");
                body.classList.remove("disable-scroll");
                modalForm.close();
                // modalBackground.style.display = "none";
            };

            const body = document.body;
            const modalForm = document.getElementById("inscription-form");
            // const modalBackground = document.getElementById("inscription-form-bg");
            if (clickBackdrop) return close();
            if (modalForm.classList.contains("modal-form")) return close();
            return open();
        };

        isOpenClass();
    }
</script>
<style>


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-left: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.disable {
    display: none;
}
</style>
{% endblock content %}