{% extends 'base.html' %} {% block content %} {% load static %}
<div class="item training">
    <div class="training-form-container">
        <h1>Oferta Formativa</h1>
        <div class="offer-btn-container">
            <div onclick="" class="offer-btn">Lubricantes piolas</div>
            <div onclick="" class="offer-btn">aquellos candidatos div ser mar</div>
            <div onclick="" class="offer-btn">mediods marcianos</div>
            <div onclick="" class="offer-btn">Lubricantes piolas asi como el lauti</div>
            <div onclick="" class="offer-btn">Lubricantes i</div>
            <div onclick="" class="offer-btn">Lubricantes piolas el lauti</div>
            <div onclick="" class="offer-btn">Lubricantes piolas</div>
            <div onclick="" class="offer-btn">aquellos candidatos div ser mar</div>
            <div onclick="" class="offer-btn">mediods marcianos</div>
            <div onclick="" class="offer-btn">Lubricantes piolas asi como el lauti</div>
            <div onclick="" class="offer-btn">Lubricantes i</div>
            <div onclick="" class="offer-btn">Lubricantes piolas el lauti</div>
        </div>
    </div>
</div>
{% endblock content %}