{% extends 'base.html' %} {% block content %} {% load static %} 

<div class="item training-full">
      <div class="chamber-full-container">
        <div class="full-text-container">
          <img src="{{saloon.icon.url}}" alt="" height="130" width="130" style="object-fit: contain;">
          <h1>{{saloon.title}}</h1>
          <div>
          {{saloon.content.html|safe}}
          </div>
          <p>
            <span>DIRECCIÓN:</span> {{saloon.address |default_if_none:"--"  }}</br>
            <span>CIUDAD:</span> {{saloon.city|default_if_none:"--"  }}</br>
            <span>HORARIO:</span> {{saloon.hours|default_if_none:"--"  }}</br>
            <span>TELÉFONO:</span> {{saloon.phone|default_if_none:"--"  }}</br>
            <span>E-MAIL:</span> <a href="mailto:{{saloon.email|default_if_none:"--"  }}"> {{saloon.email|default_if_none:"--"  }} </a> </br>
            <span>WEB:</span> <a href="{{saloon.web|default_if_none:"--"  }}" target="_blank"> {{saloon.web|default_if_none:"--"  }} </a> </br>
            <span>FACEBOOK:</span> <a href="{{saloon.facebook|default_if_none:"--"  }}" target="_blank"> {{saloon.facebook|default_if_none:"--"  }} </a></br>
            <span>COMÓ LLEGAR:</span> <a href="{{saloon.maps|default_if_none:"--"  }}" target="_blank"> {{saloon.maps|default_if_none:"--"  }} </a> </br>
          </p>
        </div>
        <div class="chamber-full-side">
          <div class="to-chambers-btn">
            <a href="/camaras" class="primary-btn btn-lg no-style-url">Volver a cámaras</a>
          </div>
          {% if saloon.image %}
          <img src="{{saloon.image.url}}" width="470" height="470" class="chamber-full-img"></img>
          {% endif %}
          <div class="chambers-links">
            <a href="/noticia?camara={{saloon.id}}" class="no-style-url"><img src="{% static 'images/corneta.svg' %}" alt="" width="100" height="100">
              <h2>Novedades</h2>
            </a>
            <a href="/capacitaciones?camara={{saloon.id}}" class="no-style-url"><img src="{% static 'images/corneta.svg' %}" alt="" width="100" height="100">
              <h2>Cursos</h2>
            </a>
          </div>
          
        </div>
      </div>
    </div>
   


{% endblock content %}
