{% extends 'base.html' %} {% load static %} {% block scriptjs %}

<script type="text/javascript" src="{% static 'js/services.js' %}"></script>
{% endblock scriptjs %} {% block content %}

<div class="item services">
  <div class="blue-bg-container">
    <div class="blue-bg-title">
      <h1>Nuestros servicios</h1>
    </div>

    <!-- NEW CARROUSEL -->
    <div id="gallery-container">
      <ul id="gallery" class="gallery divider-none selectable">
        {% for service in services %}
        <li>
          <button
            tabindex="{{ forloop.counter0 }}"
            autofocus
            class="blue-bg-item"
            onclick="serviceClick({{ forloop.counter0 }})"
          >
            <img
              class="svg-to-primary-color"
              src="{{service.icon.url}}"
              alt="gremial-logo"
              height="100"
              width="100"
            />
            <div class="blue-bg-item-text-container">
              <h2>{{service.title}}</h2>
              <p>{{service.description}}</p>
            </div>
            <div class="services-arrow"></div>
          </button>
        </li>
        {% endfor %}
      </ul>

      <button id="slideLeft" class="disabled noselect" type="button">
        &#10094;
      </button>
      <button id="slideRight" class="noselect" type="button">&#10095;</button>
    </div>
    <div class="services-list">
      {% for service in services %}
        <div class="service-item hidden">
          <div id="service-full" class="service-description-container blue-bg">
            <h2 id="service-tittle">{{service.title}}</h2>
            <p id="service-description">{{service.content.html | safe }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    </div>
    
  </div>
</div>

{% endblock content %}
