{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="header full-bleed">
    <div class="slideshow-container fade">
    <!-- Full images with numbers and message Info -->
    <div class="Containers">
        <img src= "{% static 'images/tallerHeader.jpg' %}"  style="width:100%">
        <div class="Info header-container">
        <div class="header-logo-container">
            <img src="{% static 'images/Logo FAATRA color.png' %}" alt="" height="2008" width="1417">
        </div>
        <div class="header-text-container">
            <h1>F.A.A.T.R.A</h1>
            <h2>Federación Argentina de Asociación de</br>
            Talleres de Reparación de Automotores y Afines</h2>
        </div>
        </div>
    </div>

    {% if new %}
    <div class="Containers">
        {% if new.image %}
            <img src="{{new.image.url}}"  style="width:100%">
        {% endif %}
        <div class="Info header-container">
        <div class="header-logo-container">
            <img src="{% static 'images/Logo FAATRA color.png' %}" alt="" height="2008" width="1417">
        </div>
        <a href="{% url 'new-detail' new.url %}">

        <div class="header-text-container">
            <h2>{{new.title}}</h2>
            <h3>{{new.description}}</h3>
        </div>
        </a>
        </div>
    </div>
    {% endif %}
   {% if training %}
    <div class="Containers">
        {% if training.image %}
            <img src="{{training.image.url}}"  style="width:100%">
        {% endif %}
        <div class="Info header-container">
        <div class="header-logo-container">
            <img src="{% static 'images/Logo FAATRA color.png' %}" alt="" height="2008" width="1417">
        </div>    
        <a href="{% url 'traning-detail' training.url %}">
            <div class="header-text-container">
                <h2>{{training.title}}</h2>
                <h3>{{training.description}}</h3>
            </div>
        </a>
        </div>
    </div>
    {% endif %}

    <!-- Back and forward buttons -->
    <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
    <a class="forward" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The circles/dots -->
    <div style="text-align:center">
    <span class="dots" onclick="currentSlide(1)"></span>
    {% if new %}
        <span class="dots" onclick="currentSlide(2)"></span>
    {% endif %}
    {% if training %}
        <span class="dots" onclick="currentSlide(3)"></span>
    {% endif %}
    </div>

</div>

<!-- Quienes somos -->
<div class="item about-us">
<div class="about-us-container">
    <div class="about-us-text">
    <div class="about-us-text-header">
        <h1>¿Quíenes Somos?</h1>
         {{who_we_are.description}}
    </div>
    </div>
    <div class="about-us-img-container">
    {% if who_we_are.image %}
      <img
        src="{{who_we_are.image.url}}"
        alt=""
        width="366px"
        height="450px"
    />
      {%endif%}
    
    </div>
    <div class="primary-btn-container read-more-btn-container">
    <a href="quienes-somos" class="primary-btn btn-lg">Leer más</a>
    </div>
</div>
</div>
<!-- PILARES -->
<div class="item pillars blue-bg full-background">
<div class="blue-bg-container container">
    <div class="blue-bg-title"><h1>Nuestros pilares</h1></div>
    <div class="blue-bg-items-container">
    <div class="blue-bg-item">
        <img
        src="{% static 'images/quienes-somos/gremial.svg' %}"
        alt="gremial-logo"
        height="150"
        width="150"
        />
        <div class="blue-bg-item-text-container">
        <h2>Gremial</h2>
        </div>
    </div>
    <div class="blue-bg-item">
        <img
        src="{% static 'images/quienes-somos/capacitación.svg' %}"
        alt="gremial-logo"
        height="150"
        width="150"
        />
        <div class="blue-bg-item-text-container">
        <h2>Capacitación</h2>
        </div>
    </div>
    <div class="blue-bg-item">
        <img
        src="{% static 'images/quienes-somos/info.svg' %}"
        alt="gremial-logo"
        height="150"
        width="150"
        />
        <div class="blue-bg-item-text-container"></div>
        <h2>Información técnica</h2>
    </div>
    </div>
</div>
</div>
<!-- SNIT -->
<div class="item snit">
<div>
    <h1>SNIT</h1>
    <h2>
    {{social.snit_description}}
    </h2>
    <div class="primary-btn-container read-more-btn-container">
        <a href="{{social.snit_url}}" target="_blank" class="primary-btn btn-lg">Ingresar</a>
    </div>
</div>
</div>
<!-- Nuestros servicios -->

    <div class="item services blue-bg full-background home-services">
      <div class="blue-bg-container container">
        <div class="blue-bg-title">
          <h1>Nuestros servicios</h1>
        </div>
        <div class="blue-bg-items-container padding-top-btn divider-none">
        {% for service in services %}
        <a href="{% url 'service-detail' service.url %}" >
        <div class="blue-bg-item">
            {% if service.image %}
            <img
            class="svg-to-primary-color"
            src="{{service.icon.url}}"
            alt="gremial-logo"
            height="100"
            width="100"
            />
            {% endif %}
            <div class="blue-bg-item-text-container">
            <h2>{{service.title}}</h2>
            <p>{{service.description}}</p>
            </div>
        </div>
        </a>
        {% endfor %}
        
        </div>
        <a href="/servicios" class="primary-btn btn-lg more-services-btn">Ver mas</a>
      </div>
    </div>
<div class="item covenants">
<div>
    <h1>Convenios</h1>
    <div class="convenants-items-container">
    <div class="convenants-item">
        <div class="circle-shape">
        <img
            src="{% static 'images/convenios/escudo-nacional.svg' %}"
            alt="gremial-logo"
            height="90"
            width="90"
        />
        </div>
        <h2>Ministerio de trabajo</h2>
    </div>
    <div class="convenants-item">
        <div class="circle-shape">
        <img
            src="{% static 'images/convenios/formacion.svg' %}"
            alt="gremial-logo"
            height="90"
            width="90"
        />
        </div>
        <h2>Formación contínua</h2>
    </div>
    <div class="convenants-item">
        <div class="circle-shape">
        <img
            src="{% static 'images/convenios/escudo-nacional.svg' %}"
            alt="gremial-logo"
            height="90"
            width="90"
        />
        </div>
        <h2>Formación contínua</h2>
    </div>
    <div class="convenants-item">
        <div class="circle-shape">
        <img
            src="{% static 'images/convenios/smata.svg' %}"
            alt="gremial-logo"
            height="90"
            width="90"
        />
        </div>
        <h2>SMATA</h2>
    </div>
    <div class="convenants-item">
        <div class="circle-shape">
        <img
            src="{% static 'images/convenios/inet.svg' %}"
            alt="gremial-logo"
            height="90"
            width="90"
        />
        </div>
        <h2>Inet</h2>
    </div>
    </div>
</div>
</div>

{% endblock content %}
