{% extends 'base.html' %} {% block content %}
{% load static %}


<!-- HEADER -->
<div class="item header full-bleed">
<div class="header-container">
    <div class="header-logo-container">
    <img src="{% static 'images//Logo FAATRA color.png' %}" alt="" height="2008"
    width="1417" >
    </div>
    <div class="header-text-container">
    <h1>F.A.A.T.R.A</h1>
    <h2>Federación Argentina de Asociación de</br>
        Talleres de Reparación de Automotores y Afines</h2>
    </div>
</div>
</div>
<!-- Quienes somos -->
<div class="item about-us">
<div class="about-us-container">
    <div class="about-us-text">
    <div class="about-us-text-header">
        <h1>¿Quíenes Somos?</h1>
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Ducimus dolor voluptatibus quibusdam. Cupiditate, maxime ipsa!
        Facilis nisi mollitia accusantium, earum minus est quibus Lorem
        ipsum dolor sit
        </p>
    </div>
    <div class="about-us-item">
        <img src="{% static 'images/quienes-somos/mision.svg' %}"  alt="" />
        <p>
        <span style="font-weight: bolder">MISIÓN:</span> voluptatiam sit
        quas et quiat volesti totat. Eprate eaqui conseque eostias et et
        volest, qui acepe Aquam atiatur? Quis quas endem nonserum
        </p>
    </div>
    <div class="about-us-item">
        <img src="{% static 'images/quienes-somos/vision.svg' %}" alt="" />
        <p>
        <span style="font-weight: bolder">VISIÓN:</span> Nam faccullique
        voluptatiam sit quas et quiat volesti totat. Eprate eaqui
        conseque eostias et et volest, qui acepe Aquam atiatur? Quis
        quas endem nonserum
        </p>
    </div>
    <div class="about-us-item">
        <img src="{% static 'images/quienes-somos/valores.svg' %}" alt="" />
        <p>
        <span style="font-weight: bolder">VALORES:</span> llique
        voluptatiam sit quas et quiat voles- ti totat. Eprate eaqui
        conseque eostias et et volest, qui acepe Aquam atiatur? Quis
        quas endem nonserum
        </p>
    </div>
    </div>
    <div class="about-us-img-container">
    <img
        src="{% static 'images/quienes-somos/caraenaipe.png' %}"
        alt=""
        width="366px"
        height="450px"
    />
    </div>
    <div class="primary-btn-container read-more-btn-container">
    <a href="./quienes-somos.html" class="primary-btn btn-lg">Leer más</a>
    </div>
</div>
</div>
<!-- PILARES -->
<div class="item pillars blue-bg full-background">
<div class="blue-bg-container container">
    <div class="blue-bg-title"><h1>Nuestros pilares</h1></div>
    <div class="blue-bg-items-container">
    <div class="blue-bg-item">
        <img
        src="{% static 'images/quienes-somos/gremial.svg' %}"
        alt="gremial-logo"
        height="150"
        width="150"
        />
        <div class="blue-bg-item-text-container">
        <h2>Gremial</h2>
        </div>
    </div>
    <div class="blue-bg-item">
        <img
        src="{% static 'images/quienes-somos/capacitación.svg' %}"
        alt="gremial-logo"
        height="150"
        width="150"
        />
        <div class="blue-bg-item-text-container">
        <h2>Capacitación</h2>
        </div>
    </div>
    <div class="blue-bg-item">
        <img
        src="{% static 'images/quienes-somos/info.svg' %}"
        alt="gremial-logo"
        height="150"
        width="150"
        />
        <div class="blue-bg-item-text-container"></div>
        <h2>Información técnica</h2>
    </div>
    </div>
</div>
</div>
<!-- SNIT -->
<div class="item snit">
<div>
    <h1>SNIT</h1>
    <h2>
    Colección de documentos digitalizados y organizados, elaborados por
    FAATRA, destinados al servicio de la comunidad de talleristas sobre
    los cuales se ofrecen servicios interactivos de valor añadido.
    </h2>
</div>
</div>
<!-- Nuestros servicios -->
<div class="item services full-background">
<div class="blue-bg-container container">

    <div class="blue-bg-title"><h1>Nuestros servicios</h1></div>
    <div class="blue-bg-items-container padding-top-btn divider-none">
    {% for service in services %}
    <a href="{% url 'service-detail' service.url %}" >
    <div class="blue-bg-item">
        {% if service.image %}
        <img
        class="svg-to-primary-color"
        src="{{service.image.url}}"
        alt="gremial-logo"
        height="100"
        width="100"
        />
        {% endif %}
        <div class="blue-bg-item-text-container">
        <h2>{{service.title}}</h2>
        <p>{{service.description}}</p>
        </div>
    </div>
    </a>
    {% endfor %}

    <div class="blue-bg-item">
        <img
        class="svg-to-primary-color"
        src="{% static 'images/nuestros-servicios/asesoria.svg' %}"
        alt="gremial-logo"
        height="100"
        width="100"
        />
        <div class="blue-bg-item-text-container">
        <h2>Asesoría</h2>
        <p>La “consulta” es gratuita para todos los talleristas.</p>
        </div>
    </div>
    <div class="blue-bg-item">
        <img
        class="svg-to-primary-color"
        src="{% static 'images/nuestros-servicios/costo-hora.svg' %}"
        alt="gremial-logo"
        height="100"
        width="100"
        />
        <div class="blue-bg-item-text-container">
        <h2>Costo hora</h2>
        <p>por la subcomisíon de carrocería y pintura.</p>
        </div>
    </div>
    <div class="blue-bg-item">
        <img
        class="svg-to-primary-color"
        src="{% static 'images/nuestros-servicios/convenios.svg' %}"
        alt="gremial-logo"
        height="100"
        width="100"
        />
        <div class="blue-bg-item-text-container">
        <h2>Convenios</h2>
        <p>Convenios colectivos alcanzados.</p>
        </div>
    </div>
    <div class="blue-bg-item">
        <img
        class="svg-to-primary-color"
        src="{% static 'images/nuestros-servicios/escalas.svg' %}"
        alt="gremial-logo"
        height="100"
        width="100"
        />
        <div class="blue-bg-item-text-container">
        <h2>Escalas</h2>
        <p>Nueva escala salarial SMATA - FAATRA</p>
        </div>
    </div>
    </div>
</div>
</div>
<div class="item covenants">
<div>
    <h1>Convenios</h1>
    <div class="convenants-items-container">
    <div class="convenants-item">
        <div class="circle-shape">
        <img
            src="{% static 'images/convenios/escudo-nacional.svg' %}"
            alt="gremial-logo"
            height="90"
            width="90"
        />
        </div>
        <h2>Ministerio de trabajo</h2>
    </div>
    <div class="convenants-item">
        <div class="circle-shape">
        <img
            src="{% static 'images/convenios/formacion.svg' %}"
            alt="gremial-logo"
            height="90"
            width="90"
        />
        </div>
        <h2>Formación contínua</h2>
    </div>
    <div class="convenants-item">
        <div class="circle-shape">
        <img
            src="{% static 'images/convenios/escudo-nacional.svg' %}"
            alt="gremial-logo"
            height="90"
            width="90"
        />
        </div>
        <h2>Formación contínua</h2>
    </div>
    <div class="convenants-item">
        <div class="circle-shape">
        <img
            src="{% static 'images/convenios/smata.svg' %}"
            alt="gremial-logo"
            height="90"
            width="90"
        />
        </div>
        <h2>SMATA</h2>
    </div>
    <div class="convenants-item">
        <div class="circle-shape">
        <img
            src="{% static 'images/convenios/inet.svg' %}"
            alt="gremial-logo"
            height="90"
            width="90"
        />
        </div>
        <h2>Inet</h2>
    </div>
    </div>
</div>
</div>

{% endblock content %}
