{% extends 'base.html' %} {% block content %} {% load static %}

<div class="about-full-buttons-container">
  <a class="primary-btn btn-sm btn-p-right-left no-style-url" href={% url "who-we-are" %}>¿Quiénes somos?</a>
  {% for page in pages %}
  <a class="primary-btn btn-sm btn-p-right-left no-style-url" href={% url "pages-detail" page.url %}>{{page.title}}</a>
  {% endfor %}
</div>
<div class="item about-full">
  <div class="full-container">
    <div class="full-text-container">
      <h1>{{page.subtitle | default_if_none:page.title}}</h1>
      {{page.content.html|safe}}
    <div class="item services home-services">
      <div class="container">

        <div class="blue-bg-items-container padding-top-btn divider-none">
        {% for profile in page.profiles.all %}
        <div class="blue-bg profiles">
            <img
            src="{{profile.image.url}}"
            alt="gremial-logo"
            height="100"
            width="100"
            class="circle-shape"
            />
            <div class="blue-b profilesg-item-text-container">
            <h2>{{profile.title}}</h2>
            <p>{{profile.description}}</p>
            </div>
        </div>
        {% endfor %}
        
        </div>
      </div>
    </div>
    </div>
    <div class="about-full-side-container">
      {% if page.image %}
      <div id="about-full-first-image" class="bg-img-cover"  style="background-image: url(&quot;{{page.image.url}}&quot;);"></div>
      <div id="about-full-second-image" class="bg-img-cover"></div>
      {%endif%}
    </div>
  </div>
</div>

{% endblock content %}
