{% extends 'base.html' %} {% block content %} {% load static %}

<div class="about-full-buttons-container">
  <button class="primary-btn btn-sm btn-p-right-left">Historia</button>
  <button class="primary-btn btn-sm btn-p-right-left">Objetivos</button>
  <button class="primary-btn btn-sm btn-p-right-left">Consejo directivo</button>
  <a href="./contacto.html" class="primary-btn btn-sm btn-p-right-left"
    >Contactanos</a
  >
  <button class="primary-btn btn-sm btn-p-right-left">Forma parte</button>
</div>
<div class="item about-full">
  <div class="full-container">
    <div class="full-text-container">
      <h1>¿Quienes somos?</h1>
      <p>
        Este curso está orientado a mecánicos del sector Diesel, que les
        interese profundizar sobre este motor, o mecánicos en general, ya que es
        un motor bastante usado en vehículos de pequeño porte. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Reiciendis eos nemo illo in
        eveniet recusandae ex adipisci quo saepe maxime est quaerat dolor,
        laboriosam temporibus commodi optio. Repellat aspernatur aliquam
        exercitationem veniam. Deleniti autem molestiae, quibusdam
        exercitationem atque quaerat, distinctio beatae repudiandae vitae
        doloribus doloremque porro veniam? Nisi rem accusamus velit officia quam
        inventore reprehenderit dolores rerum quaerat, explicabo provident
        blanditiis beatae. Aspernatur totam rem tenetur libero qui vero, nostrum
        repellendus facilis nihil reprehenderit, pariatur fugiat unde beatae
        repellat cumque a, laudantium consectetur in saepe temporibus et est
        dolorem explicabo rerum? Temporibus consectetur quisquam rerum in
        distinctio cum velit fugit, voluptates, quidem similique veniam fugiat
        ad dignissimos est. Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Voluptas fuga, expedita, voluptatibus suscipit molestias error,
        iusto cumque pariatur perferendis saepe et quisquam voluptate laudantium
        beatae quia quod quos! Vitae, ratione! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Impedit ad nemo, tenetur ipsa, at
        accusamus eius esse perspiciatis nam, asperiores incidunt autem laborum
        minima atque voluptate saepe porro dolor similique! Lorem ipsum, dolor
        sit amet consectetur adipisicing elit. Non dignissimos excepturi
        nesciunt molestias, nihil odit, totam porro, dolore quidem minus
        suscipit autem aperiam exercitationem magni quisquam consectetur.
        Explicabo omnis asperiores eveniet perferendis at et? Autem optio
        tempore, libero id delectus deserunt itaque. Aut, quos vel distinctio
        quaerat sit debitis similique laboriosam quis sint quia autem nulla
        provident, ad vitae harum?
      </p>
    </div>
    <div class="about-full-side-container">
      <div id="about-full-first-image" class="bg-img-cover"></div>
      <div id="about-full-second-image" class="bg-img-cover"></div>
    </div>
  </div>
</div>

{% endblock content %}
