:root {
  /* media */
  --sm: 495px;
  --md: 980px;
  /* color */
  --primary-color: #007bff;
  --secondary-color: #002b37;
  --gray-color: #4d4d4d;
  --white-color: #ffffff;
  --black-color: #1a1a1a;
  /* text */
  --text-color: #939393;
  --font-main: "Montserrat", sans-serif;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  /* grid */
  --text-whidth: 80ch;
  --side-img-widht: 300.6px;
  --max-content-widht: calc(var(--text-whidth) + var(--side-img-widht));
  --column-gap: 32px;
  --default-padding: 2.5em;
  --body-font-size: 0.75em;
}

body {
  font-family: var(--font-main);
  font-size: var(--body-font-size);
}

h1 {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

.no-style-url {
  all: unset;
  cursor: pointer;
}

.no-style-url:focus {
  background-color: transparent !important;
}

input,
textarea,
select {
  --border-radius: 0.2em;
  border-style: none;
  border-radius: var(--border-radius);
  font-size: 1.8em;
  padding: var(--border-radius);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #eee;
  resize: none;
}
textarea:focus,
input:focus {
  outline: 2px solid var(--primary-color);
  /* border: 2px solid var(--primary-color); */
}

/* GRID */
.container {
  display: grid;
  grid-template-columns:
    1fr min(var(--max-content-widht), calc(100% - calc(var(--column-gap) * 2)))
    1fr;
  grid-column-gap: var(--column-gap);
  width: 100%;
}

.container > * {
  grid-column: 2 / 3;
  width: 100%;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

/* REUSABLE CLASES */

.padding-top-btn {
  padding: 4.5em 0 4.5em 0;
}

.padding-top-sm {
  padding: 2em 0 0 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item > * {
  padding-top: var(--default-padding);
  padding-bottom: var(--default-padding);
  width: 100%;
}

.primary-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: transform 0.5s;
  text-align: center;
}

.primary-btn:hover {
  background-color: var(--secondary-color);
  transform: scale(1.1);
}

.btn-sm {
  width: auto;
  font-size: 1.7em;
  font-weight: 700;
  padding: 0 0.2em 0 0.2em;
}

.btn-lg {
  width: 15ch;
  height: 2em;
  font-size: 1.7em;
  font-weight: 700;
  margin-top: 1em;
}

.btn-p-right-left {
  padding: 0 1em 0 1em;
}

.bg-img-cover {
  background-size: cover;
}

.scale-hover {
  transition: transform 0.7s;
}

.scale-hover:hover {
  background: linear-gradient(var(--primary-color), #007bff);
  transform: scale(1.15);
}

.full-container {
  /* --training-text-width: calc(var(--text-whidth) - 30ch);
  --training-side-width: calc(var(--side-img-widht) + 30ch); */
  display: grid;
  grid-template-columns:
    [full-description] minmax(
      calc(var(--text-whidth) - 30ch),
      var(--text-whidth)
    )
    [full-description-end full-side]
    minmax(calc(var(--side-img-widht) - 15ch), var(--side-img-widht))
    [training-full-side-end];
  column-gap: var(--column-gap);
}

.full-text-container {
  color: var(--secondary-color);
  font-weight: var(--font-weight-medium);
}

.full-text-container p {
  font-size: 1.4em;
  text-align: justify;
  text-justify: inter-word;
  font-weight: 300;
}

.full-text-container span {
  font-weight: 800;
  text-transform: capitalize;
}

.full-text-container img {
  max-width: 100%;
}

.full-container img {
  max-width: 100%;
}

.use-all-container {
  display: flex;
}

@media (max-width: 890px) {
  .full-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-item > *{
  width: 97%;
}

.form-item label {
  font-weight: var(--font-weight-medium);
  margin-bottom: 0.3em;
  /* Uncomment to adjust to original desing*/
  margin-top: 0.7em;
  font-size: 1.3em;
  margin-left: -0.2em;
}

.form-item [type="radio"] {
  width: auto;
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
}

/* NAVBAR */
.navbar {
  grid-row: 1;
  z-index: 1;
}
.mobile-navbar-backdrop {
  padding-bottom: 0;
}

.navbar-container-lg {
  --navbar-bg-color: black;
  width: 100%;

  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  background: -prefix-linear-gradient(
    top,
    var(--navbar-bg-color),
    #0000009d,
    #00000000
  );
  background: linear-gradient(
    to bottom,
    var(--navbar-bg-color),
    #000000cc,
    #00000000
  );
  padding: 0;
  padding-top: 0.5em;
}

.navbar-menu-icon {
  display: none;
}

.navbar-item {
  --navbar-item-bg-color: none;
  background-color: var(--navbar-item-bg-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em;
  display: block;
}

.navbar-item:hover {
  text-decoration: underline var(--primary-color);
  text-underline-offset: 0.32em;
  text-decoration-thickness: 0.18em;
}

.nav-button-area {
  cursor: pointer;
  padding: 0.5em;
}

.nav-button-area:focus {
  background-color: var(--primary-color);

  border-radius: 0.5em;
}

@media (max-width: 980px) {
  .item:first-child {
    margin-top: 2.6em;
  }

  .item.navbar {
    justify-content: flex-start;
  }

  .mobile-navbar-backdrop {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .navbar-container-lg {
    flex-direction: column;
    width: unset;
    padding-top: 0;
    margin-top: 0;
    left: 0;
    /* max-width: 70vw; */

    background: -prefix-linear-gradient(
      top,
      var(--navbar-bg-color),
      #0000009d,
      #00000000
    );
    background: linear-gradient(
      to bottom,
      var(--navbar-bg-color),
      #000000,
      #000000cc
    );
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }

  .navbar-container-open {
    width: auto;
    min-width: 20ch;
    height: 100vh;
    justify-content: flex-start;
    margin-top: 0;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .navbar-menu-icon {
    display: flex;
    padding: 1em;
  }

  .navbar-menu-icon > img {
    --menu-icon-size: 3ch;
    height: var(--menu-icon-size);
    width: var(--menu-icon-size);
  }

  .navbar-item {
    display: none;
    margin-right: 5em;
  }

  .show-navbar-item {
    display: block;
  }
}

/* HEADER */
.header {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: span 3;
  --header-height: 500px;
}

.header-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: var(--header-height);
  color: white;
}

.header-container > * {
  padding: 1em;
}

.header-logo-container > img {
  height: calc(var(--header-height) - 100px);
  width: auto;
}

.header-text-container {
  width: max-content;
}

.header-text-container > h1 {
  font-size: 6em;
}
.header-text-container > h2 {
  font-size: 1.5em;
}

@media (max-width: 980px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .header-logo-container {
    padding-bottom: 0;
  }

  .header-logo-container > img {
    height: calc(var(--header-height) - 150px);
    width: auto;
  }

  .header-text-container {
    max-width: 90%;
  }

  .header-text-container > h1 {
    display: none;
  }

  .header-text-container > h2 {
    text-align: center;
    /* font-size: 2em; */
    margin-top: 0;
  }
}

/* ABOUT-US */
.about-us-container {
  /* display: grid; uncomment if want image on the side of quienes somos */
  display: flex;
  flex-direction: column;
  grid-template-columns:
    [about-us-text-start] minmax(0, var(--text-whidth))
    [about-us-text-end about-us-img-start] minmax(0, var(--side-img-widht))
    [about-us-img-end];
  grid-template-rows: auto 1fr; /* NEW */
  /* grid-column-gap: var(--column-gap); */
}

.about-us-text-container {
  padding-bottom: 2em;
}

.about-us-text {
  grid-column: about-us-text-start / about-us-text-end;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  color: var(--secondary-color);
  font-size: larger;
}
.about-us-text h1{
  text-align: center;
}
.about-us-text p {
  font-weight: 500;
  text-align: justify;
  max-width: 65ch;
  font-size: 1em;
}

.about-us-item {
  display: flex;
}

.about-us-item > img {
  align-self: center;
  --about-us-item-img-space: calc(var(--text-whidth) * 0.09);
  width: var(--about-us-item-img-space);
  height: var(--about-us-item-img-space);
  margin-right: 1em;
}

.about-us-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: about-us-img-start / about-us-img-end;
  grid-row: 1 / 3;
  overflow: hidden;
}
.about-us-img-container > img {
  object-fit: scale-down;
}

.read-more-btn-container {
  grid-column: about-us-text-start / about-us-text-end;
}

@media (max-width: 980px) {
  .about-us-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-us-text {
    padding-right: 0;
  }

  .about-us-img-container {
    display: none;
  }
}

@media (max-width: 495px) {
  .about-us-item {
    flex-direction: column;
  }
}

/* blue-bg */
.full-background {
  width: 100%;
  grid-column: 1 / -1;
}
.blue-bg {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.gray-bg {
  background-color: var(--gray-color);
  color: var(--white-color);
}

.blue-bg-container {
  justify-content: flex-start;
}

.blue-bg-items-container {
  grid-row-start: 2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center; */
}

/* .blue-bg-items-container {
  grid-row-start: 2;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  /* justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
} */

.blue-bg-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25ch;
  /* width: 100%; */
  text-align: center;
  padding: 1em;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.blue-bg-item-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blue-bg-item > p {
  max-width: 21ch;
  font-size: 1em;
}

.blue-bg-item:nth-child(2n) {
  border-right-style: solid;
  border-left-style: solid;
  border-width: 0.2em;
  border-width: 0.12em;
  border-color: var(--white-color);
}

.blue-bg-items-container.divider-none > * {
  border-style: none;
}

.blue-bg-item > img {
  object-fit: scale-down;
  max-width: 20vw;
  max-height: 20vh;
  min-height: 15vh;
}

.blue-bg-item.primary-btn {
  background-color: var(--secondary-color);
}

.blue-bg-item.primary-btn:hover {
  background-color: rgba(128, 128, 128, 0.788);
}

@media (max-width: 495px) {
  .home-services .blue-bg-items-container {
    flex-direction: column;
  }
  .home-services .blue-bg-item {
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .home-services .blue-bg-item-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    text-align: left;
    justify-content: center;
  }

  .home-services .blue-bg-item h2 {
    /* font-size: 5vw; */
    margin-top: 0;
    margin-bottom: 0;
  }

  .home-services .blue-bg-item:nth-child(2n) {
    border-right-style: none;
    border-left-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
  }

  .home-services .blue-bg-items-container.divider-none > * {
    border-style: none;
  }
}
/* PILARES */
.pillars h1 {
  margin-bottom: 1em;
}

.pillars .blue-bg-item {
  width: 25%;
  min-width: 27%;
}

@media (max-width: 495px) {
  .pillars .blue-bg-item {
    width: 100%;
    min-width: 20%;
  }
}

/* SNIT */
.item.snit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--primary-color);
  margin-top: 2em;
  margin-bottom: 2em;
  color: var(--white-color);
}

.snit h2 {
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 400;
}
.snit .btn-lg {
  margin-top: 0;
  border-radius: 5px;
  background-color: var(--white-color);
  color: var(--secondary-color);
}

.snit .btn-lg:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

/* services */

.services .padding-top-btn {
  padding: 4.5em 0 0 0;
}

.more-services-btn {
  justify-self: center;
}

.svg-to-primary-color {
  filter: invert(37%) sepia(84%) saturate(4280%) hue-rotate(200deg) brightness(102%) contrast(106%);
}

/* CONVENIOS */

.covenants {
  color: var(--secondary-color);
  flex-direction: column;
  align-items: flex-start;
}

.convenants-items-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
}

.convenants-item {
  width: auto;
  display: flex;
  flex-direction: column;
  max-width: min-content;
  align-items: center;
  padding: 1em;
}

.convenants-item h2 {
  font-weight: var(--font-weight-medium);
}

.circle-shape {
  background-color: var(--secondary-color);
  --circle-diameter: 120px;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer */
.footer-container {
  padding-top: 0;
  padding-bottom: 0;
}

.footer-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
}

.footer-item {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.footer-item p {
  font-weight: var(--font-weight-medium);
  margin-bottom: 0;
}

/* Media footer */

.media-footer-container {
  display: flex;
  flex-direction: column;
}

.media-footer-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.media-footer-item {
  margin: 1.5em;
}

.media-footer-text {
  text-align: center;
  font-weight: var(--font-weight-light);
}

/* form-contact */

.contact-form-container {
  color: var(--secondary-color);
  padding-top: 3.5em;
  padding-bottom: 6.5em;
}

.contact-form-items-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--column-gap);
  grid-auto-flow: column;
}

.coments {
  grid-row: 2 / 4;
  grid-column-start: 2;
}

.coments textarea {
  height: 100%;
}

.telephone-input-container {
  display: flex;
  justify-content: space-between;
}

.pre-telephone-input {
  max-width: 4ch;
  margin-right: 0.5em;
}

.telephone-input {
  width: 100%;
}

.contact-form-submit {
  grid-row: 4 / 6;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.want-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.want-info-checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.want-info-checkbox-container > * {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
}

.want-info-checkbox-container h2 {
  margin: 0;
}

@media (max-width: 740px) {
  .form-item{
    padding: 0 0.6em 0 0.6em;
  }
  .contact-form-items-container {
    grid-template-columns: 1fr;
  }
  .contact-form-items-container > * {
    grid-column-start: 1;
    grid-row: auto / auto;
    max-width: 100%;
  }

  .coments textarea {
    height: 6em;
  }
}

/* CAPACITACIÓN */
.training-form-container {
  color: var(--secondary-color);
}
.training-form-items-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--column-gap);
  grid-template-rows: auto;
  row-gap: var(--column-gap);
  padding-top: 1.7em;
}

.training-form-items-container > * {
  color: white;
  padding: var(--default-padding);
  border-radius: 0.7em;
  height: auto;
}

.training-form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.training-form-item img {
  height: auto;
  width: 30%;
}
.training-form-item h2 {
  margin-top: 1.3em;
  margin-bottom: 0;
}

.full-columns {
  grid-column: 1 / -1;
}

.full-columns img {
  height: auto;
  width: 15%;
}

.inclusion-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.76)),
    url("./images/capacitacion/calculadora-y-hojas.jpg");
  background-size: cover;
}

.formation-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.76)),
    url("./images/capacitacion/calculadora-y-hojas.jpg");
  background-size: cover;
}

.improvement-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.76)),
    url("./images/capacitacion/calculadora-y-hojas.jpg");
  background-size: cover;
}

.management-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.76)),
    url("./images/capacitacion/calculadora-y-hojas.jpg");
  background-size: cover;
}

.presentations-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.76)),
    url("./images/capacitacion/calculadora-y-hojas.jpg");
  background-size: cover;
}

.training-form-item:hover {
  background: linear-gradient(var(--primary-color), #007bff);
}

.training-form-item > * {
  transition: transform 0.7s;
}

.training-form-item:hover > * {
  transform: scale(1.15);
}

@media (max-width: 595px) {
  .training-form-items-container {
    grid-template-columns: 1fr;
    row-gap: calc(var(--column-gap) / 2);
  }

  .training-form-item img {
    height: auto;
    width: 30%;
  }

  .training-form-item:last-child img {
    height: auto;
    width: 30%;
  }
}

/* ITEM LISTS */

.trainings-select-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1.5em;
}

.trainings-select-container > * {
  display: flex;
  column-gap: 1em;
  align-items: center;
  flex-wrap: wrap;
}

.trainings-select-container select {
  border: solid 2px var(--secondary-color);
  background-color: var(--white-color);
  color: var(--black-color);
  height: 2.5em;
  width: 100%;
  padding-left: 1em;
  font-size: medium;
  font-weight: var(--font-weight-semibold);
  align-self: start;
  text-overflow: ellipsis; 
  text-transform: capitalize
}

.trainings-select-container h2{
  margin-bottom: 0.3em;
}

.training-list-item {
  color: var(--white-color);
  display: grid;
  grid-template-rows: min-content 1fr minmax(2em, min-content);
  row-gap: 0.5em;
  padding: 1.6em;
  aspect-ratio: 461 / 296;
}

.training-list-item h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.training-list-item.scale-hover:hover {
  transform: scale(1.05);
  background-size: cover;
}

.training-list-item-tittle-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 1em;
  align-items: center;
}

.training-list-item-description {
  grid-row: 3 / 4;
  background-color: #002b3791;
  border-radius: 0.5em;
  padding: 0.5em;
  overflow: auto;
}

.training-list-item-description p {
  margin-top: 0;
  margin-bottom: 0;
}

.pages-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 2em;
}

.pages-nav > * {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.7em;
  margin: 0.5em;
  font-size: medium;
  font-weight: var(--font-weight-medium);
  border-radius: 0.2em;
}

.pages-nav > .page-selected {
  background-color: var(--secondary-color);
}

@media (max-width: 745px) {
  .training-list .training-form-items-container {
    grid-template-columns: 1fr;
    row-gap: calc(var(--column-gap) / 2);
  }
}
/* CAPACITACION FULL */
.training-full-side-container {
  display: inline;
  grid-template-columns: 1fr;
}

.training-full-side-container > * {
  border-radius: 1em;
}

#training-image {
  background-image: url("./images/capacitacion/calculadora-y-hojas.jpg");
  aspect-ratio: 461 / 296;
}

.training-full-blue-info {
  background-color: #002b37;
  color: var(--white-color);
  display: grid;
  padding: 1em;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  margin-top: 2em;
}

.training-full-blue-info > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.training-full-blue-info > :nth-child(2n) {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 0.2em;
  border-color: #086f8b;
}

.training-full-blue-info h2 {
  font-size: 2em;
  margin: 0;
}

.training-full-blue-info p {
  font-size: 1.35em;
  margin: 0.2em;
}

.training-dates-container {
  display: grid;
  grid-template-columns: max-content minmax(min-content, 100%);
  justify-content: flex-start;
  column-gap: 1em;
}

.training-until-date {
  display: flex;
  justify-content: center;
  border-radius: 1em;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: bolder;
  align-items: center;
  text-align: center;
}

.register-btn-container {
  grid-row-end: 4;
  align-items: flex-end;
}

.btn-full-width {
  width: 100%;
  font-size: 2.2em;
}

/* inscripcion Modal */
.modal-bg {
  position: fixed;
  z-index: 0; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(192, 191, 191); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.63); /* Black w/ opacity */
}

.modal-form {
  /* margin: 15% auto; 15% from the top and centered */
  width: 85%; /* Could be more or less, depending on screen size */
  height: 85%;
  /* border-radius: 1em; */
  color: var(--white-color);
  background-color: var(--secondary-color);
}

dialog::backdrop {
  background-color: #000000e5;
}

.modal-form h1 {
  margin: 10px 20px 0 5px;
}

.incription-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--column-gap);
  margin: 0 20px 5px 20px;
  overflow: hidden;
}

.modal-form .inscript-btn{
  background-color: #047391;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

@media (max-width: 820px) {
  .incription-form-container {
    grid-template-columns: 1fr;
    row-gap: calc(var(--column-gap) / 2);
  }
}

.modal-form textarea{
  max-height: 3em;
  margin-bottom: 3px;
}

.form-item input,.form-item select{
  font-size: 1.5em;
  padding-right: 0;
}

.form-item select{
  margin-left: -0.2em;
  padding-right: 0.2em;
}

.form-item input:focus,.form-item select:focus, .form-item textarea:focus{
  outline: 3px solid #08c7fc;
}

/* ABOUT US FULL */
.about-full-buttons-container {
  margin-top: 2em;
  display: flex;
}

.about-full-buttons-container .primary-btn {
  margin: 0.4em;
}

.about-full-side-container {
  display: grid;
  align-items: center;
}

#about-full-first-image {
  background-image: url("./images/quienes-somos/quienes-somos-full-side.png");
  aspect-ratio: 370 / 360;
}
#about-full-second-image {
  background-image: url("./images/quienes-somos/quienes-somos-full-side.png");
  aspect-ratio: 370 / 360;
}

@media (max-width: 890px) {
  .about-full-side-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1005px) {
  .about-full-buttons-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* SERVICIOS FULL */
.blue-bg-item img {
  transition: transform 0.7s;
}

.selectable .blue-bg-item {
  cursor: pointer;
}

.selectable .blue-bg-item:hover img {
  transform: scale(1.15);
}

.selectable .blue-bg-item:focus .services-arrow {
  display: block;
}

.services-arrow {
  display: none;
  width: 0;
  height: 0;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 3em solid var(--primary-color);
}

.service-description-container {
  border-radius: 1em;
}

.service-description-container h2 {
  font-weight: bold;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.service-description-container p {
  padding: 0 1em 1em 1em;
  margin: 0 auto 0;
}

.service-description-container div {
  padding: 0 1em 1em 1em;
}

.service-manangers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service-mananger {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5em;
  max-width: 19em;
}

.service-mananger img {
  object-fit: contain;
  border-radius: 50%;
  max-width: 85%;
  margin: 1em;
}

.service-mananger p {
  padding-bottom: 0;
}

/* gallery https://codepen.io/fredericrous/pen/xxVXJYX */

#gallery-container {
  position: relative;
}

.gallery {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(10, max-content);
  grid-template-rows: 1fr;
  /* grid-column-gap: 1rem; */
  grid-row-gap: 1rem;
  overflow: hidden;
  overflow-y: hidden;
  scroll-snap-type: both;
  scroll-behavior: smooth;
  scroll-padding: 1rem;
  justify-items: center;
  justify-content: space-between;
}

.gallery .active {
  scroll-snap-type: unset;
}

.gallery li {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  max-height: 100%;
  max-width: max-content;
  background-color: white;
}

#slideLeft {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  font-size: 2.5em;
}

#slideRight {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 2.5em;
}

#slideLeft:hover,
#slideRight:hover {
  color: var(--primary-color);
}

#slideLeft.disabled,
#slideRight.disabled {
  display: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* CAMARAS */

.chambers {
  flex-direction: column;
}

.chambers-list {
  padding-top: 0;
}

.chambers-list ul {
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.chambers-list li {
  margin: 2.3em 1em 1em 1em;
}

.chambers-list img {
  object-fit: contain;
}

/* camaras tooltip  https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1.3em;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--primary-color) transparent transparent transparent;
}

/* Camaras full */

.chamber-full-container {
  /* --training-text-width: calc(var(--text-whidth) - 30ch);
  --training-side-width: calc(var(--side-img-widht) + 30ch); */
  display: grid;
  grid-template-columns:
    [full-description]
    calc(var(--text-whidth) - 15ch)
    [full-description-end full-side]
    minmax(var(--side-img-widht), max-content)
    [training-full-side-end];
  column-gap: var(--column-gap);
}

@media (max-width: 890px) {
  .chamber-full-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .associate-btn {
    display: flex;
    justify-content: center;
  }
}

.chamber-full-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.chamber-full-img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  padding: 1em 0 1em;
}

.chambers-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.chambers-links a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: max-content;
  background-color: var(--primary-color);
  border-radius: 2em;
  transition: transform 0.5s;
}

.chambers-links a:hover {
  background-color: var(--secondary-color);
  transform: scale(1.1);
}

.chambers-links img {
  margin: 1.5em;
}

.chambers-links h2 {
  color: var(--white-color);
  margin-top: 0;
}

.to-chambers-btn {
  align-self: flex-end;
  align-content: center;
  font-size: smaller;
}

.to-chambers-btn a {
  margin-bottom: 0;
}

@media (max-width: 890px) {
  .to-chambers-btn {
    display: none;
  }
}

/* Noticias */
.news-items-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1em;
}

.new-item {
  background-color: var(--secondary-color);
  display: flex;
  align-content: center;
  align-items: center;
  border-radius: 2em;
  margin: 1em 0 1em;
}

.new-item img {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  height: 12em;
  margin: 1em;
  border: 0.4em solid var(--white-color);
}

.new-text-container {
  color: var(--white-color);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-text-container p {
  margin-bottom: 0;
}

/* CARROUSEL */

.slideshow-container * {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}
.Containers > img {
  filter: brightness(50%);
  height: var(--header-height);
  object-fit: cover;
}
/* forward & Back buttons */
.Back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: var(--white-color);
  font-weight: bold;
  font-size: 3em;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}


.hidden {
  display: none;
}


.service-item img {
  max-width: 100%;
}

.service-file-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.service-file-container a{
  margin-right: 10px;
  margin-left: 5px;
}

.profiles {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.services-buttom {
  background-color: white;
  border: none;
  outline: none;
}

.profiles p {
  color: var(--primary-color);
}

.profiles h2 {
  color: var(--primary-color);
}

.offer-btn-container {
  padding-top: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.offer-btn {
  cursor: pointer;
  text-decoration: none;
  text-decoration-line: none;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: 1.5em;
  width: 100%;
  padding: 0.3em;
  margin: 0.15em;
  transition: margin-left 0.5s ease;
  border-radius: 0.1em;
}

.offer-btn>a{
  text-decoration: none;
  color: var(--white-color);
}

.offer-btn>a:visited{
  color: var(--white-color);
}

.offer-btn:nth-child(2n) {
  background-color: #002b37e6;
}

.offer-btn:hover {
  margin-left: 0.7em;
  transition: margin-left 0.5s ease;
}
